* {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  display: block;
  clear: both;
  content: '';
}

.left {
  float: left;
}

.right {
  float: right;
}

#app {
  width: 100%;
  min-width: 1920px;
  height: 1080px;
  background-image: url("./assets/image/bg5.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.statistics {
  display: flex;
  justify-content: space-around;
}

#app .title {
  width: 100%;
  min-width: 1200px;
}

#bind {
  width: 800px;
  height: 15px;
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-around;
}

#bind .item {
  width: 200px;
  height: 65px;
  background-image: url("./assets/image/bind_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 60px;
  position: relative;
  overflow: hidden;
}

#bind .item .top {
  width: 100%;
  height: 60px;
}

#bind .item .top img {
  width: 40px;
  height: 40px;
  float: left;
  margin: 15px;
}

#bind .item .top .text {
  float: left;
  padding: 10px 0;
}

#bind .item .top .text .name {
  font-size: 16px;
  color: #fff;
}

#bind .item .top .text .num {
  font-size: 24px;
  line-height: 24px;
  color: aqua;
}

#bind .item .move {
  position: absolute;
  bottom: 0;
  height: 7px;
  animation: mymove 7s infinite;
  animation-timing-function: linear;
}

@keyframes mymove {
  from {
    left: 0;
  }
  to {
    left: -336px;
  }
}

.model {
  color: #fff;
  background-image: url("./assets/image/model_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 10px;
}

.model .model_title {
  width: 50%;
  height: 40px;
  margin: 0 auto;
  background-image: url("./assets/image/model_title.png");
  background-repeat: no-repeat;
  background-size: 100% 50px;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}

.resources {
  width: 500px;
  height: 300px;
  position: relative;
}

.resources #resources {
  width: 500px;
  height: 250px;
}

.resources .res_num {
  position: absolute;
  top: 100px;
  left: 50px;
}

.resources .res_num .res_num_item {
  width: 140px;
  height: 50PX;
  text-align: center;
  line-height: 25px;
  background-image: url("./assets/image/text_bg1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 15px;
}

.resources .res_num .res_num_item .name {
  color: #fff;
  font-size: 16px;
}

.resources .res_num .res_num_item .num {
  color: #00DEDF;
  font-size: 20px;
}

.histogram {
  width: 500px;
  height: 300px;
}

.histogram #histogram {
  width: 500px;
  height: 250px;
}

.sort {
  width: 500px;
  height: 300px;
}

.sort #sort {
  width: 500px;
  height: 250px;
}

.direct {
  width: 500px;
  height: 300px;
}

.direct #direct {
  width: 500px;
  height: 250px;
}

.culture {
  width: 500px;
  height: 300px;
}

.culture #culture {
  width: 500px;
  height: 250px;
}

.library {
  width: 500px;
  height: 300px;
}

.library #library {
  width: 500px;
  height: 250px;
}

.map1 {
  width: 700px;
  height: 550px;
}

.map1 .map1 {
  width: 700px;
  height: 550px;
}

.equipment {
  width: 800px;
  height: 300px;
  margin-top: 55px;
}

.equipment #equipment {
  width: 800px;
  height: 250px;
}
